.plan-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.plan{
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.plan:hover{
    background-color: hsl(217, 100%, 97%);
    border: 1px solid hsl(243, 100%, 62%);
}

.plan img{
    margin-bottom: 40px;
}

/* .plan-one{
    margin-right: 20px;
} */

/* .plan-three{
    margin-left: 20px;
} */

.first{
    margin: 0;
    padding: 0;
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.second{
    margin: 0;
    padding: 0;
    color: hsl(231, 11%, 63%);
    margin-top: 5px;
}

.third{
    margin: 0;
    padding: 0;
    color: hsl(213, 96%, 18%);
    font-size: 0.9em;
    margin-top: 5px;
}

.month-year{
    background-color: hsl(217, 100%, 97%);
    height: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.month-year p{
    display: block;
}

.slider{
    height: 16px;
    width: 40px;
    background-color: hsl(213, 96%, 18%);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.slider-ball{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 100%;
    margin: 3px
}

@media (max-width: 375px) {
    .plan-container{
        flex-direction: column;
    }

    .plan{
        flex-direction: row;
        align-items: center;
    }

    .plan img{
        margin-bottom: 0;
        margin-right: 20px;
    }
}