.blue-container{
    background-color: hsl(217, 100%, 97%);
    padding: 20px;
}

.plan-summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
}

.summary-title{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.plan-price{
    margin: 0;
    padding: 0;
    color: hsl(213, 96%, 18%);
}

.plan-change{
    padding: 0;
    text-decoration: underline;
    border: none;
    background-color: hsl(217, 100%, 97%);
    color: hsl(231, 11%, 63%);
    font-weight: bold;
}

.plan-change:hover{
    color: hsl(243, 100%, 62%);
}

.add-on-summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.add-on-summary p{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

.add-on-title-summary{
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}

.add-on-price{
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.plan-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.total-title{
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.total-price{
    margin: 0;
    padding: 0;
    color: hsl(243, 100%, 62%);
    font-weight: bold;
}